$code: (
  "background": #282C34,
  "border": transparent,
  "foreground": #ABB2BF,
  "selection": #9AA2B1
);

$token-colors: (
  "mono-1": #5C6370,
  "mono-2": #ABB2BF,
  "red-1": #E06C75,
  "red-2": #FA4273,
  "orange": #D19A66,
  "green": #98C379,
  "cyan": #56B6C2,
  "blue": #61AFEF,
  "purple": #C678DD
);

$line-numbers: (
  "number": #5C6370
);