$code: (
  "background": #FFFFFF,
  "border": #E7EAF4,
  "foreground": #383A42,
  "selection": #E5E6E7
);

$token-colors: (
  "mono-1": #A0A1A7,
  "mono-2": #383A42,
  "red-1": #F07C85,
  "red-2": #CA1243,
  "orange": #E1AA76,
  "green": #88B369,
  "cyan": #46A6B2,
  "blue": #519FDF,
  "purple": #B668CD
);

$line-numbers: (
  "number": #B5B9C2
);